<ion-header>
  <ion-toolbar>
    <ion-title>
      ESTUDO ELEITORAL 2019
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center" *ngIf="!sendDataFlag">
          <ion-button size="large" fill="outline" shape="round" color="blue" (click)="novaEntrevista()"> Nova entrevista </ion-button>
        </div>
      </ion-col>      
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="ion-text-center" *ngIf="sendDataFlag">
          <ion-button size="large" fill="outline" shape="round" color="blue" (click)="gotoResultados()"> Visualizar resultados </ion-button>
        </div>
      </ion-col>      
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="ion-text-center" *ngIf="sendDataFlag">
          <ion-button size="large" fill="outline" shape="round" color="blue" (click)="enviarResultados()"> Enviar resultados </ion-button>
        </div>
      </ion-col>      
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-button size="large" fill="outline" shape="round" color="blue" (click)="logout()"> Sair </ion-button>
        </div>
      </ion-col>      
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-title class="ion-text-center">© CajuIdeas 2019</ion-title>
      </ion-toolbar>
</ion-footer>