<ion-header>
  <ion-toolbar>
    <ion-title>
      ESTUDO ELEITORAL 2019 &nbsp;<ion-icon name="close-circle" (click)="abortar()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-radio-group>
        <ion-list-header>
          PF.03. Qual a sua idade?
        </ion-list-header>
        <ion-item>
          <ion-label>15 ANOS OU MENOS </ion-label>
          <ion-radio value="0" (click)="radioChecked(0)"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>16 A 24 ANOS</ion-label>
          <ion-radio value="1" (click)="radioChecked(1)"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>25 A 34 ANOS</ion-label>
          <ion-radio value="2" (click)="radioChecked(2)"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>35 A 44 ANOS</ion-label>
          <ion-radio value="3" (click)="radioChecked(3)"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>45 A 59 ANOS</ion-label>
          <ion-radio value="4" (click)="radioChecked(4)"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>60 ANOS OU MAIS</ion-label>
          <ion-radio value="5" (click)="radioChecked(5)"></ion-radio>
        </ion-item>


      </ion-radio-group>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
        <ion-title class="ion-text-center">© CajuIdeas 2019</ion-title>
      </ion-toolbar>
</ion-footer>