<ion-header>
  <ion-toolbar>
    <ion-title>
      ESTUDO ELEITORAL 2019
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-radio-group>
        <ion-list-header>
          P.10. Eu vou ler uma lista de religiões e gostaria que me indicasse qual delas é a sua: (LEIA DEVAGAR ATÉ A INTERROGAÇÃO, EXATAMENTE NESTA ORDEM) SÓ LEIA OS PARENTESES SE O ENTREVISTADO TIVER DÚVIDA SOBRE A CLASSIFICAÇÃO
        </ion-list-header>
        <ion-item>
            <ion-label>Evangélica Pentecostal (Congregação Cristã no Brasil, Assembléia de Deus, Cruzada Evangélica, Evangelho Quadrangular, O Brasil para Cristo, Casa da Benção, Deus é Amor, Igreja Universal do Reino de Deus, Renascer em Cristo, Internacional da Graça Divina, “Crente”)</ion-label>
            <ion-radio value="1" (ionSelect)="radioChecked(1)"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Evangélica não Pentecostal (Batista, Plesbiteriana, Metodista, Luterana, Episcopal, Anglicana, Congregação, Exercito da Salvação “Protestantes”)</ion-label>
            <ion-radio value="2" (ionSelect)="radioChecked(2)"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Umbanda</ion-label>
            <ion-radio value="3" (ionSelect)="radioChecked(3)"></ion-radio>
          </ion-item>          

          <ion-item>
            <ion-label>Cadomblé ou outras religiões afro-brasileiras (Xangô, Batuque, Mina, Omoloco, Catimbó)</ion-label>
            <ion-radio value="4" (ionSelect)="radioChecked(4)"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Espirita Kardecista, Espiritualista</ion-label>
            <ion-radio value="5" (ionSelect)="radioChecked(5)"></ion-radio>
          </ion-item>          

          <ion-item>
            <ion-label>Catolica</ion-label>
            <ion-radio value="6" (ionSelect)="radioChecked(6)"></ion-radio>
          </ion-item>          

          <ion-item>
            <ion-label>Judaica</ion-label>
            <ion-radio value="7" (ionSelect)="radioChecked(7)"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Outras religiões (Mormom, Adventista, Testemunha de Jeová, Seisho-No-Iê, Messiânica, Perfeita Liberdade, Budista, Santo Daime, Mulçumano)</ion-label>
            <ion-radio value="8" (ionSelect)="radioChecked(8)"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Não tem religião nenhuma</ion-label>
            <ion-radio value="9" (ionSelect)="radioChecked(9)"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>É ateu/ Não acredita em Deus</ion-label>
            <ion-radio value="10" (ionSelect)="radioChecked(10)"></ion-radio>
          </ion-item>
        </ion-radio-group>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
        <ion-title class="ion-text-center">© CajuIdeas 2019</ion-title>
      </ion-toolbar>
</ion-footer>