<ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-title>
              ESTUDO ELEITORAL 2019
            </ion-title>
          </ion-col>
          <ion-col class="ion-text-right">
            &nbsp;<ion-icon size="large" name="close-circle" (click)="sair()"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
        <ion-list-header>
          P.05. Se as eleições para a PREFEITURA DE PRESIDENTE FIGUEIREDO fossem hoje e os candidatos fossem esses, em quem o senhor votaria? (MOSTRE O TABLET)(ESTIMULADA E ÚNICA)
        </ion-list-header>
        <ion-slides pager="true" [options]="slideOpts">
              <ion-slide>
                <ion-card (click)="radioChecked(0)">
                  <ion-card-header>
                      <ion-card-title>
                          FERNANDO VIEIRA
                      </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      <img src="assets/imgs/FERNANDOVIEIRA.PNG">
                  </ion-card-content>
                </ion-card>
              </ion-slide>
          
              <ion-slide>
                  <ion-card (click)="radioChecked(1)">
                    <ion-card-header>
                        <ion-card-title>
                            NEILSON CAVALCANTI
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <img src="assets/imgs/NEILSONCAVALCANTI.PNG">
                    </ion-card-content>
                  </ion-card>
                </ion-slide>
      
              <ion-slide>
                <ion-card (click)="radioChecked(2)">
                  <ion-card-header>
                      <ion-card-title>
                          ROMEIRO MENDONÇA
                      </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      <img src="assets/imgs/ROMEIROMENDONCA.PNG">
                  </ion-card-content>
                </ion-card>
              </ion-slide>
      
              <ion-slide>
                <ion-card (click)="radioChecked(3)">
                  <ion-card-header>
                      <ion-card-title>
                          MARIO ABRAHÃO
                      </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      <img src="assets/imgs/MARIOABRAHAO.PNG">
                  </ion-card-content>
                </ion-card>
              </ion-slide>
      
              <ion-slide>
                <ion-card (click)="radioChecked(4)">
                  <ion-card-header>
                      <ion-card-title>
                          RICELI PONTES
                      </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      <img src="assets/imgs/RICELIPONTES.PNG">
                  </ion-card-content>
                </ion-card>
              </ion-slide>
      
              <ion-slide>
                <ion-card (click)="radioChecked(5)">
                  <ion-card-header>
                      <ion-card-title>
                          DOUTOR VINICIUS
                      </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      <img src="assets/imgs/DOUTORVINICIUS.PNG">
                  </ion-card-content>
                </ion-card>
              </ion-slide>
      
              <ion-slide>
                <ion-card (click)="radioChecked(6)">
                  <ion-card-header>
                      <ion-card-title>
                          CHICO PRETO
                      </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      <img src="assets/imgs/CHICOPRETO.PNG">
                  </ion-card-content>
                </ion-card>
              </ion-slide>

              <ion-slide>
                  <ion-card (click)="radioChecked(7)">
                    <ion-card-header>
                        <ion-card-title>
                            OUTRO
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <img src="assets/imgs/OUTRO.PNG">
                    </ion-card-content>
                  </ion-card>
                </ion-slide>
      
              <ion-slide>
                <ion-card (click)="radioChecked(99)">
                  <ion-card-header>
                      <ion-card-title>
                          NÃO SABE
                      </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      <img src="assets/imgs/NAOSABE.PNG">
                  </ion-card-content>
                </ion-card>
              </ion-slide>

        </ion-slides>
        
              <!-- </ion-radio-group> -->
    </ion-list>
  </ion-content><ion-footer>
    <ion-toolbar>
        <ion-title class="ion-text-center">© CajuIdeas 2019</ion-title>
      </ion-toolbar>
</ion-footer>