<ion-header>
  <ion-toolbar>
    <ion-title>
      ESTUDO ELEITORAL 2019
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-radio-group>
        <ion-list-header>
          P.11. (CITE FAIXAS DE RENDA) Agora eu vou ler algumas faixas de renda e gostaria que você me dissesse qual delas representa sua renda FAMILIAR mensal, isto é, a soma da renda de todas as pessoas que moram no domicílio, inclusive você. Sua renda familiar mensal neste último mês foi? (LER FAIXAS DE RENDA) (ESTIMULADA E ÚNICA)  MOSTRE O CARTÃO 3
        </ion-list-header>
        <ion-item>
            <ion-label>1.	ATÉ R$ 998,00 (1 SM) – CLASSE E</ion-label>
            <ion-radio value="1" (click)="radioChecked(1)"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>2.	MAIS DE R$ 999,01 ATÉ R$ 1.254,00 (MAIS DE 1 SM A 2 SM) CLASSE E</ion-label>
            <ion-radio value="2" (click)="radioChecked(2)"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>3.	MAIS DE R$ 1.255,01 ATÉ R$ 2.004,00 (MAIS DE 2 SM A 5 SM) – CLASSE D</ion-label>
            <ion-radio value="3" (click)="radioChecked(3)"></ion-radio>
          </ion-item>          

          <ion-item>
            <ion-label>4.	MAIS DE R$ 2.005,01 ATÉ R$ 8.640,00 (MAIS DE 5 SM A 10) – CLASSE C</ion-label>
            <ion-radio value="4" (click)="radioChecked(4)"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>5.	MAIS DE R$ 8.641,01 ATÉ R$ 11.261,00(MAIS DE 10SM A 20SM) – CLASSE B</ion-label>
            <ion-radio value="5" (click)="radioChecked(5)"></ion-radio>
          </ion-item>          

          <ion-item>
            <ion-label>6.	MAIS DE R$ 11.262,01(ACIMA DE 20 SM) – CLASSE A</ion-label>
            <ion-radio value="6" (click)="radioChecked(6)"></ion-radio>
          </ion-item>          

          <ion-item>
            <ion-label>NÃO SABE /NÃO RESPONDEU</ion-label>
            <ion-radio value="7" (click)="radioChecked(7)"></ion-radio>
          </ion-item>

        </ion-radio-group>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
        <ion-title class="ion-text-center">© CajuIdeas 2019</ion-title>
      </ion-toolbar>
</ion-footer>