<ion-header>
    <ion-toolbar>
      <ion-title>
        ESTUDO ELEITORAL 2019
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-input type="number" placeholder="PF.03. Qual a sua idade?" [(ngModel)]="idade" text-center id="input" ></ion-input>
      </ion-row>
      <ion-row >
        <ion-col>
          <div class="ion-text-center">
            <ion-button size="large" fill="outline" shape="round" color="blue" (click)="prosseguir()"> Prosseguir </ion-button>
          </div>
        </ion-col>      
      </ion-row>
    </ion-grid>      
  </ion-content>
  <ion-footer>
    <ion-toolbar>
        <ion-title class="ion-text-center">© CajuIdeas 2019</ion-title>
      </ion-toolbar>
</ion-footer>