<ion-header>
    <ion-toolbar>
      <ion-title>
        ESTUDO ELEITORAL 2019 &nbsp;<ion-icon name="close-circle" (click)="abortar()"></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
        <ion-radio-group>
          <ion-list-header>
            P.08. Na sua opinião qual o principal problema da Cidade de Presidente Figueiredo. (Estimulada Única)
          </ion-list-header>
          <ion-item>
              <ion-label>Saúde</ion-label>
              <ion-radio value="1" (click)="radioChecked(1)"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Educação</ion-label>
              <ion-radio value="2" (click)="radioChecked(2)"></ion-radio>
            </ion-item>
  
            <ion-item>
              <ion-label>Segurança</ion-label>
              <ion-radio value="3" (click)="radioChecked(3)"></ion-radio>
            </ion-item>          
  
            <ion-item>
              <ion-label>Transporte</ion-label>
              <ion-radio value="4" (click)="radioChecked(4)"></ion-radio>
            </ion-item>
  
            <ion-item>
              <ion-label>Habitação</ion-label>
              <ion-radio value="5" (click)="radioChecked(5)"></ion-radio>
            </ion-item>          

            <ion-item>
                <ion-label>Coleta de Lixo</ion-label>
                <ion-radio value="6" (click)="radioChecked(6)"></ion-radio>
              </ion-item>          
  

            <ion-item>
              <ion-label>Outro</ion-label>
              <ion-radio value="7" (click)="radioChecked(7)"></ion-radio>
            </ion-item>                      

            <ion-item>
              <ion-label>Não sabe</ion-label>
              <ion-radio value="99" (click)="radioChecked(99)"></ion-radio>
            </ion-item>                      
          </ion-radio-group>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
          <ion-title class="ion-text-center">© CajuIdeas 2019</ion-title>
        </ion-toolbar>
  </ion-footer>