<ion-header>
  <ion-toolbar>
    <ion-title>
      ESTUDO ELEITORAL 2019
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-radio-group>
        <ion-list-header>
          P.09.  Qual dos candidatos apresentados neste cartão (MOSTRE CARTÃO), na sua opinião, é mais capaz de RESOLVER os PROBLEMAS da cidade ? (ESTIMULADA E ÚNICA)
        </ion-list-header>
        <ion-item>
            <ion-avatar slot="start">
              <img src="assets/imgs/FERNANDOVIEIRA.PNG">
            </ion-avatar>
            <ion-label>FERNANDO VIEIRA</ion-label>
            <ion-radio value="0" (ionSelect)="radioChecked(0)"></ion-radio>
          </ion-item>
      
          <ion-item>
              <ion-avatar slot="start">
                  <img src="assets/imgs/NEILSONCAVALCANTI.PNG">
                </ion-avatar>
            <ion-label>NEILSON CAVALCANTI</ion-label>
            <ion-radio value="1" (ionSelect)="radioChecked(1)"></ion-radio>
          </ion-item>
  
          <ion-item>
              <ion-avatar slot="start">
                  <img src="assets/imgs/ROMEIROMENDONCA.PNG">
                </ion-avatar>
            <ion-label>ROMEIRO MENDONÇA</ion-label>
            <ion-radio value="2" (ionSelect)="radioChecked(2)"></ion-radio>
          </ion-item>
  
          <ion-item>
              <ion-avatar slot="start">
                  <img src="assets/imgs/MARIOABRAHAO.PNG">
                </ion-avatar>          
            <ion-label>MARIO ABRAHÃO</ion-label>
            <ion-radio value="3" (ionSelect)="radioChecked(3)"></ion-radio>
          </ion-item>          
  
          <ion-item>
              <ion-avatar slot="start">
                  <img src="assets/imgs/RICELIPONTES.PNG">
                </ion-avatar>          
            <ion-label>RICELI PONTES</ion-label>
            <ion-radio value="4" (ionSelect)="radioChecked(4)"></ion-radio>
          </ion-item>
  
          <ion-item>
              <ion-avatar slot="start">
                  <img src="assets/imgs/DOUTORVINICIUS.PNG">
                </ion-avatar>          
            <ion-label>DOUTOR VINICIUS</ion-label>
            <ion-radio value="5" (ionSelect)="radioChecked(5)"></ion-radio>
          </ion-item>          
  
          <ion-item>
              <ion-avatar slot="start">
                  <img src="assets/imgs/CHICOPRETO.PNG">
                </ion-avatar>                    
            <ion-label>CHICO PRETO</ion-label>
            <ion-radio value="6" (ionSelect)="radioChecked(6)"></ion-radio>
          </ion-item>          
  
          <ion-item>
              <ion-avatar slot="start">
                  <img src="assets/imgs/OUTRO.PNG">
                </ion-avatar>       
            <ion-label>OUTRO</ion-label>
            <ion-radio value="7" (ionSelect)="radioChecked(7)"></ion-radio>
          </ion-item>
  
          <ion-item>
              <ion-avatar slot="start">
                  <img src="assets/imgs/NAOSABE.PNG">
                </ion-avatar>       
            <ion-label>NÃO SABE</ion-label>
            <ion-radio value="99" (ionSelect)="radioChecked(99)"></ion-radio>
          </ion-item>
        </ion-radio-group>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
        <ion-title class="ion-text-center">© CajuIdeas 2019</ion-title>
      </ion-toolbar>
</ion-footer>