<ion-header>
  <ion-toolbar>
    <ion-title>
      ESTUDO ELEITORAL 2019
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-radio-group>
        <ion-list-header>
          PF.2. Você vota aqui na cidade de Presidente Figueiredo?
        </ion-list-header>
    
        <ion-item>
          <ion-label>SIM</ion-label>
          <ion-radio value="1" (ionSelect)="radioChecked(1)"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>NÃO</ion-label>
          <ion-radio value="0" (ionSelect)="radioChecked(0)"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
        <ion-title class="ion-text-center">© CajuIdeas 2019</ion-title>
      </ion-toolbar>
</ion-footer>